@{
  ViewData["Title"] = $"Details for {Model.City}, {Model.Country}";
}

<h1>Review @Model.City, @Model.Country</h1>

<p>Rating: @Model.Rating</p>
<p>Description: @Model.Description</p>

<p>@Html.ActionLink("Edit details", "Edit", new { id = @Model.ReviewId })</p>
<p>@Html.ActionLink("Delete review", "Delete", new { id = @Model.ReviewId })</p>
<p>@Html.ActionLink("Return to all reviews", "Index")</p>

