
<h1>All Travel Reviews:</h1>

<h3>Actions:</h3>
<h1>@Model.ReviewPages.Count</h1>
<h1>Page Number: @Model.CurrentPage</h1>

<p>@Html.ActionLink("Add a new review", "Create")</p>

<h3>Reviews:</h3>

<div class="row">
)
    @foreach (Review review in Model.ReviewPages)
    {
        @if (review != null) //just added this a body brackets, need to test with api
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">@review.City</h5>
                        <p class="card-text">@review.Country</p>
                        <a href="/Reviews/Details/@(review.ReviewId)" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        }
    }

<a href="/Reviews?page=@(Model.Page + 1)"><button class="page-link">Next</button></a>

@if(Model.Page > 1 || Model.Page < Model.CurrentPage)
{
    <a href="/Reviews?page=@(Model.Page - 1)"><button class="page-link">Prev</button></a> 
}
</div>
